.card-img-top {
    height: 200px; /* Set a fixed height */
    object-fit: cover; /* Ensures the image scales and crops to fit */
    width: 100%; /* Ensure it fills the card width */
}
.lime{
    color: #32aa27;
}
.lime-bg{
    background-color: #32aa27;
    color: white;
}
#homeImg{
    transition: 0.4s;
}
#homeImg:hover{
    transform: scale(1.1);
}
.custom-card{
    transition: 0.4s;
}
.custom-card:hover{
    transform: scale(1.1);
}
.custom-card:hover .card-title {
    color: #32aa27; /* Change the color of all <p> tags inside the card */
}
@media (max-width: 480px) {
    .custom-card:hover{
        transform: scale(1.05);
    }
    .custom-card:hover .card-title {
        color: #32aa27; /* Change the color of all <p> tags inside the card */
    }
}